<!DOCTYPE html>
<html lang="en">
<head>
    <title>错误提示-BunnyPHP Admin</title>
    <?php include(__DIR__.'/header.html') ;?>
</head>
<body>
<?php include(__DIR__.'/nav.html') ;?>
<div class="container-fluid">
    <div class="row">
        <?php include(__DIR__.'/sidebar.html') ;?>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
                <h1 class="h2">错误提示</h1>
            </div>
            <div class="card mt-2">
                <h5 class="card-header">错误信息</h5>
                <div class="card-body">
                    <p><?=$tp_error_msg?></p>
                </div>
            </div>
        </main>
    </div>
</div>
</body>
</html>