<!DOCTYPE html>
<html lang="en">
<head>
    <title>BunnyPHP Admin</title>
    <?php include(__DIR__.'/header.html') ;?>
</head>
<body>
<?php include(__DIR__.'/nav.html') ;?>
<div class="container-fluid">
    <div class="row">
        <?php include(__DIR__.'/sidebar.html') ;?>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
                <h1 class="h2">BunnyPHP Admin</h1>
            </div>
            <div class="card mt-2">
                <h5 class="card-header">BunnyPHP信息</h5>
                <div class="card-body">
                    <p>BunnyPHP Admin版本: <?=$admin_version?> <a href="https://github.com/IvanLuLyf/BunnyPHP-Admin"><img alt="" src="https://img.shields.io/packagist/v/ivanlulyf/bunnyphp-admin?color=blue&label=lastest&style=flat-square"></a></p>
                    <p>BunnyPHP版本: <?=\BunnyPHP\BunnyPHP::BUNNY_VERSION?></p>
                </div>
            </div>
            <div class="card mt-2">
                <h5 class="card-header">服务器信息</h5>
                <div class="card-body">
                    <p>引擎: <?=$_SERVER['SERVER_SOFTWARE']?></p>
                    <p>IP地址: <?=isset($_SERVER['SERVER_ADDR'])?$_SERVER['SERVER_ADDR']:''?></p>
                    <p>域名: <?=$_SERVER['SERVER_NAME']?></p>
                    <p>端口: <?=$_SERVER['SERVER_PORT']?></p>
                    <p>版本: <?=php_uname('s').php_uname('r')?></p>
                    <p>当前时间: <?=date("Y-m-d H:i:s")?></p>
                </div>
            </div>
            <div class="card mt-2">
                <h5 class="card-header">PHP信息</h5>
                <div class="card-body">
                    <p>版本: <?=PHP_VERSION?></p>
                    <p>安装路径: <?=DEFAULT_INCLUDE_PATH?></p>
                    <p>运行方式: <?=php_sapi_name()?></p>
                    <p>最大上传限制: <?=get_cfg_var ("upload_max_filesize")?get_cfg_var ("upload_max_filesize"):"不允许"?></p>
                    <p>最大执行时间: <?=get_cfg_var("max_execution_time")."秒 "?></p>
                    <p>脚本运行占用最大内存: <?=get_cfg_var ("memory_limit")?get_cfg_var("memory_limit"):"无"?></p>
                </div>
            </div>
        </main>
    </div>
</div>
</body>
</html>